@model Lotify.Models.Ventas.VentaViewModels

<div class="content-grid mdl-grid">

    <div class="mdl-cell mdl-cell--3-col"></div>

    <div class="mdl-cell mdl-cell--6-col" ng-hide="mostrar">
        <h3>La Cantidad A Ingresar debe ser Igual o Mayor A: Q @Model.Cuota</h3>
    </div>

    <div class="mdl-cell mdl-cell--3-col"></div>

</div>