.mdl-grid.center-items {
  justify-content: center;
}

.demo-card-wide.mdl-card {
              width: 512px;
            }
            .demo-card-wide > .mdl-card__title {
              color: #fff;
              height: 176px;
              background: url('../Images/welcome_card.jpg') center / cover;
            }
            .demo-card-wide > .mdl-card__menu {
              color: #fff;
            }

.colorblanco {
color: white;
}

.ali {
				position:relative;
			}
            
