@{
    ViewBag.Title = "Home Page";
}
<div class="content-grid mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>

    <div class="mdl-cell mdl-cell--6-col"> <h1></h1> </div>

    <div class="mdl-cell mdl-cell--2-col"></div>
</div>

<div class="content-grid mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>

    <div class="mdl-cell mdl-cell--6-col"> <h1></h1> </div>

    <div class="mdl-cell mdl-cell--2-col"></div>
</div>



<div class="content-grid mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>

    <div class="mdl-cell mdl-cell--6-col"> <h1>Bienvenido a Lotify</h1> </div>

    <div class="mdl-cell mdl-cell--2-col"></div>
</div>
